Language: Cpp
ColumnLimit: 150
Standard: c++20
SeparateDefinitionBlocks: Always
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -2
InsertNewlineAtEOF: true
SpacesInAngles: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlwaysBreakTemplateDeclarations: Yes
Cpp11BracedListStyle: true
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: Inline
CompactNamespaces: true
PenaltyBreakAssignment: 1000
ExperimentalAutoDetectBinPacking: true